
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Hurricane&family=Jost:ital,wght@0,200;0,300;0,400;1,300&family=Passions+Conflict&family=Shadows+Into+Light&display=swap');


.navv {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 100px;
}
.logo-title {
  margin-top: 20px;
  width: 10%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.logo-title h4 {
  color: #c37365;
  margin: 0;
  font-size: large;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Hurricane', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Passions Conflict', cursive;
font-family: 'Shadows Into Light', cursive;
}
.logo-title h5 {
  margin: 0%;
  color: rgba(31, 29, 29, 0.671)
}
.navv img {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.icons {
  width: 10%;
  height: 45px;

  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon a {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.ico {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  color: #c37365;
}
.icon h6 {
  padding: 0;
  margin: 0;
  color: rgba(31, 29, 29, 0.671) !important;
}

.icon :link {
  text-decoration: none;
}
.liste {
  width: 65%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.liste h3 {
  font-family: Roboto;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.671);
}
.liste :link {
  text-decoration: none;
}
